{{> head }}
	<!-- =============================== -->
	<!-- 		Navbar 					 -->
	<!-- =============================== -->
	{{> navbar }}

	<div class="row pt-5">
		<div class="col-8">
			<h1 class="text-center pb-3">Acerca de Mi</h1>
			<p class="text-justify pl-4 pr-1">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-4">
			<img src="./assets/img/debian walpaper2.jpg" class="img-thumbnail" alt="imagen">
		</div>
	</div>

<!-- =============================== -->
<!-- 		footer 					 -->
<!-- =============================== -->
{{> footer }}