{{> head }}  
    <!-- =============================== -->
    <!--    Navbar           -->
    <!-- =============================== -->
    {{> navbar }}
		
		<!-- =============================== -->
		<!-- 		Jumbotron 					 -->
		<!-- =============================== -->
	 <div class="jumbotron">
      <h1 class="display-4">Hola, {{ capitalizar nombre }}</h1>
      <p class="lead">
        Esta es una prueba del desarrollo de un servicio web ejecutado por NodeJS.
      </p>
      <hr class="my-4">
      <p>
        Contiene los servicios HTTP con un motor de plantillas
        para la segementacion de contenidos en la pagina web. Para más informacion puede
        consultar la documentación.
      </p>
      <p class="lead">
        <a class="btn btn-success btn-lg" href="https://nodejs.org" role="button">NodeJS</a>
      </p>
   </div>

<!-- =============================== -->
<!--     Footer            -->
<!-- =============================== -->
{{> footer }}